configuration{
    modi: "run,drun,window";
    terminal: "kitty";
    disable-history: true; 
    display-drun: " 󰣇 ";
    display-run: " 󰣇 ";
    display-window:  " 󰣇 ";
    location:0;
}

@theme "tokyonight"

