configuration{
    modi: "run,drun,window";
    terminal: "kitty";
    disable-history: true; 
    display-drun: " 󰣇 ";
    display-run: "   Run ";
    display-window: " 󰕰  Window";

}

@theme "catppuccin-mocha"

